@use "../base/colors";
/* MOBILVERSION */

.BeerList {
  display: grid;
  gap: 20px;

  .Beer {
    background-color: colors.$baggrundscolor_on_components;
    border: 2px solid colors.$border_color_on_components;
    border-radius: 40px;
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 11px 20px;

    img {
      width: 50%;
      margin: 2px 0px;
    }

    p {
      text-align: center;
    }

    .Impression {
      display: none;
    }

    .addOrRemove {
      display: flex;
      gap: 15px;
      margin-top: 5px;

      button {
        background: none;
        border: none;
        font-size: 1.8rem;
        color: colors.$base_color;
        cursor: pointer;
      }

      p {
        background: colors.$baggrundcolor;
        border: 2px solid colors.$border_color_on_components;
        border-radius: 8px;
        width: 35px;
        padding-top: 7px;
      }
    }
  }
}
.Read_more {
  margin: 5px;
  border-radius: 18px;
  padding: 9px 14px;
  background: colors.$base_color;
  border: colors.$color_on_box_shadow 1px solid;
  box-shadow: inset 1px 3px 7px colors.$color_on_inner_shadow, 1px 1px 6px colors.$color_on_box_shadow;
  cursor: pointer;
}

/* TABLET */

@media (min-width: 768px) {
  .BeerList {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .Read_more {
    border-radius: 15px;
    padding: 7px 10px;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  /* .BeerList {
    grid-template-columns: 1fr 1fr 1fr;
  } */
  .Read_more {
    padding: 7px 9px;
  }
  .Read_more:hover {
    background-color: colors.$color_on_button_in_hover;
    border: 1px solid #0c1618;
    box-shadow: inset 2px 2px 6px colors.$color_on_box_shadow, 2px 2px 5px colors.$color_on_box_shadow;
    color: colors.$base_color;
  }
}
