// Sophie
@use "../base/colors";
/* MOBILVERSION */

.BeerList {
  display: grid;
  gap: 20px;

  .Beer {
    background-color: colors.$baggrundscolor_on_components;
    border: 2px solid colors.$border_color_on_components;
    border-radius: 40px;
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 11px 20px;

    img {
      width: 50%;
      margin: 2px 0px;
    }

    p {
      text-align: center;
    }

    .Impression {
      display: none;
    }
  }
  .addOrRemove {
    display: flex;
    gap: 15px;
    max-width: 120px;
    justify-self: center;
    justify-content: center;
    margin: 10px auto;

    p {
      background: colors.$baggrundcolor;
      border: 2px solid colors.$border_color_on_components;
      border-radius: 8px;
      padding: 8px 10px 5px;
      width: 33px;
    }
  }
}

/* TABLET */

@media (min-width: 768px) {
  .BeerList {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  /* .BeerList {
    grid-template-columns: 1fr 1fr 1fr;
  } */
}
