@use "../base/colors";
@use "../base/fonts";

/* MOBIL VERSION */

form {
  width: 80%;
  margin: auto;

  .Form-group {
    display: grid;
    color: colors.$base_color;
    font-family: fonts.$base_font;

    input {
      outline: none;
      border: 2px solid colors.$border_color_on_components;
      transition: 0.3s;
      content: " ";
      background-color: colors.$baggrundscolor_on_components;
      color: colors.$base_color;
      padding: 6px;
    }

    input:valid {
      border: 2px solid colors.$color_on_available;
    }

    /* input:valid ~ .Checkmark {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.612' height='17.612' viewBox='0 0 17.612 17.612'%3E%3Cpath id='Icon_ionic-md-checkmark-circle' data-name='Icon ionic-md-checkmark-circle' d='M12.181 3.375a8.806 8.806 0 1 0 8.806 8.806A8.832 8.832 0 0 0 12.181 3.375Zm-1.808 13.5L5.86 12.363 7.126 11.1l3.251 3.251L17.24 7.486l1.266 1.266Z' transform='translate(-3.375 -3.375)' fill='%23299b25'/%3E%3C/svg%3E")
          no-repeat right;
        padding-left: 20px;
      } */

    input:invalid {
      border: 2px solid colors.$color_on_unavailable;
    }

    input:placeholder-shown {
      border: 2px solid colors.$border_color_on_components;
    }

    #name,
    #cardno {
      width: 250px;
    }

    #expire-month {
      width: 70px;
    }

    #expire-year,
    #cvc {
      width: 70px;
    }

    .Error {
      color: colors.$color_on_unavailable;
      font-size: 0.9rem;
      visibility: hidden;
      display: flex;
      align-items: center;

      svg {
        width: 16px;
        margin: 5px 5px 5px 0;
      }
    }
  }

  .Expire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    column-gap: 5px;
  }

  input:not(:focus, :placeholder-shown):invalid ~ .Error {
    visibility: visible;
  }

  .Total,
  .SumTotal {
    text-align-last: center;
    font-size: 1.2rem;
  }
}

hr {
  margin-bottom: 10px;
  border-color: colors.$base_color;
}

#pay {
  margin: 5px;
  border-radius: 50px;
  padding: 14px 59px 14px 59px;
  background: colors.$base_color;
  border: colors.$color_on_box_shadow 1px solid;
  box-shadow: inset 4px 6px 15px colors.$color_on_inner_shadow, 3px 3px 6px colors.$color_on_box_shadow;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
}

/* TABLET */

@media (min-width: 768px) {
  form {
    width: 50%;
  }

  #pay {
    padding: 14px 43px 14px 43px;
    font-size: 1.01rem;
    border: 2px solid;
  }
  #pay:hover {
    background-color: colors.$color_on_button_in_hover;
    border: 2px solid #0c1618;
    box-shadow: inset 3px 3px 7px colors.$color_on_box_shadow, 3px 3px 6px colors.$color_on_box_shadow;
    color: colors.$base_color;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
  form {
    width: 350px;
    margin-top: 7%;
  }
}
