@use "../base/colors";

/* MOBILE */
.Overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.Overlay.active {
  opacity: 1;
  pointer-events: all;
}

.About_beer {
  display: grid;
  position: fixed;
  width: 85vw;
  max-height: 95vh;
  top: 2%;
  left: 8%;
  // width: 80vw;
  // margin: auto;
  // height: 90vh;
  // top: 2%;
  background: colors.$baggrundscolor_on_components;
  border-radius: 20px;
  // // box-shadow: 10px 10px 55px 20px rgb(0 0 0 / 75%);
  // backdrop-filter: blur(20px);
  // //-webkit-backdrop-filter: blur(20px);
  border: 2px solid colors.$border_color_on_components;
  // // overflow-y: scroll;
  padding: 10px 10px 15px 10px;
  overflow-y: scroll;
}

// .modalContent {
//   position: fixed;
//   height: 87vh;
//   overflow: scroll;
//   width: 75vw;
// }

.NameModal {
  text-align: center;
  margin-top: 23px;
}

.CategoryModal {
  font-weight: bold;
  text-align: center;
}

.AlcModal {
  text-align: center;
  font-weight: bold;
}

.columnRight .HeaderModal {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.columnRight {
  padding: 0 10px 0 10px;
  margin-top: 15px;
  margin-bottom: auto;
}

img.LabelModal {
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
}

// /* TABLET */

@media (min-width: 768px) {
  .About_beer {
    width: 702px;
    height: 500px;
    left: 4%;
    top: 25%;
    grid-template-columns: 1fr 2fr;
  }

  img.LabelModal {
    width: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .columnRight .HeaderModal {
    text-align: left;
    font-size: 1.3rem;
  }
  .columnLeft {
    display: grid;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    gap: 5px;
  }
  .columnRight {
    display: grid;
    height: fit-content;
    padding: 0 20px 0 40px;
    border-left: 1px solid colors.$base_color;
    gap: 5px;
    margin-top: auto;
  }
  .HeaderModal {
    margin-bottom: 0;
  }
  .NameModal {
    margin-top: 0;
  }
}

// /* DESKTOP */
@media (min-width: 1024px) {
  .About_beer {
    left: 15%;
    width: 800px;
    height: 489px;
  }

  // .modalContent {
  //   width: 750px;
  // }

  // .columnRight {
  //   gap: 20px;
  // }
}
.hide {
  display: none;
}
