/* MOBILVERSION */
.Order_id {
  p {
    // text-align: center;
    line-height: 1.6em;
  }
}

/* TABLET */

@media (min-width: 768px) {
}

/* DESKTOP */

@media (min-width: 1080px) {
  .Order_id {
    p {
      width: 87%;
      margin: auto;
      text-align: center;
      line-height: 1.8em;
    }
  }
}
